services:
  - type: web
    name: ecommerce-app
    env: python
    region: ohio
    plan: free
    buildCommand: "./build.sh"
    startCommand: gunicorn website1.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
      - key: WEB_CONCURRENCY
        value: "4"

databases:
  - name: postgres
    plan: free
    ipAllowList: []
