{% extends 'masterpage.html' %}
{% load static %}
{% block title %}confirmorder page{% endblock %}
{% block content %}

<div class="container text-center">
    <h1 class="text-center display-2"> your order submitted successfully</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit laudantium nam aliquid, reiciendis assumenda tenetur? Mollitia quos harum saepe debitis adipisci aut nesciunt ipsum vel ipsa! Adipisci nihil dicta temporibus!</p>
    <div class="text-center">
        <a href="/myorders">
            <button class="btn btn-dark"> view your order list</button>
        </a>
    </div>
</div>

{% endblock %}